<!DOCTYPE html>
<html lang="en">

<!--Head-->

<%- include('partials/head') %>

<body class="home">
    
    <!--Header-->

    <%- include('partials/header') %>

    <main class="home__main">

        <!--BANER FIJO-->

        
<!-- BENNERE Swiper -->
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="/img/descarga.jpg" alt=""></div>
      <div class="swiper-slide"><img src="/img/fideo.jpg" alt=""></div>
      <div class="swiper-slide"><img src="/img/osito.jpg" alt=""></div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
 
   
    <div class="home__main__section--products">

<% products.forEach(({title, description, id, section, images}) => { %>

      <article class="home__main__section__article" data-aos="zomm-in-right" data-aos-duration="500">
          <div class="home__main__section__article--box">
              <img class="home__main__section__article--image" src="/img/products/<%= images.find(image => image.main).file %>" alt="producto-1">
              
              <a class="home__main__section__article--zoom" href="">AMPLIAR FOTO</a>
          </div>
          <h4 class="home__main__section__article--title"><%= title %></h4>
          <p class="home__main__section__article--description"><%= description %></p>
          <a class="home__main__section__article--more" href="/products/detail/<%= id %>">ver màs</a>
      </article>

  


  <% }) %>
</div>
        

        <section class="carrusel-ensaladas">

            <div class="swiper mySwiper2">
                <div class="swiper-wrapper">
                  
                  <div class="swiper-slide">
                    <div class="card">
                      <a href="/detalle-producto"><img class="card-img-top" src="/img/Comida-española.jpg" alt=""></a>
                      <div class="card-body">
                        
                        <p class="card-title">Ensalada tanto....</p>
                        
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="card">
                      <a href="/detalle-producto"><img class="card-img-top" src="/img/fideo.jpg" alt=""></a>
                      <div class="card-body">
                        
                        <p class="card-title">Ensalada tanto....</p>
                        
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="card">
                      <a href="/detalle-producto"><img class="card-img-top" src="/img/osito.jpg" alt=""></a>
                      <div class="card-body">
                        
                        <p class="card-title">Ensalada tanto....</p>
                        
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="card">
                      <a href="/detalle-producto"><img class="card-img-top" src="/img/images.jpg" alt=""></a>
                      <div class="card-body">
                        
                        <p class="card-title">Ensalada tanto....</p>
                        
                      </div>
                    </div>
                  </div>
                    
                    
                  
                </div>
                <div class="swiper-pagination"></div>
              </div>

        </section>
        <!--<a class="home__main--wasap" href=""><img width="15%" src="/img/wasap.png" alt=""></a>-->
    </main>

    <!--Footer-->

    <%- include('partials/footer') %>

    <%- include('partials/script') %>
    
</body>

</html>